/* normalizar */

*{
    padding: 0%;
    margin: 0%;
    /* el padding y margin no afectan al ancho y alto, dejando de lado el padding y border   */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

header{
    
    position: fixed; /*hace que el header se quede fijo*/
    right: 0;
    top: 0;
    z-index: 100;  /*hace que el header se muestre por encima*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    background-color:rgb(46, 43, 97);
    border: 2px solid rgb(255, 255, 255);
}

.logo{
    font-size: 30px;
    font-weight: 900;
}

.navbar{
    display: flex; /*hace que los elementos de lista se coloquen uno al lado del otro*/
    margin: 0px;
    padding: 20px;
    /* background-color: white;*/
}
.navbar li{
    color: white; /*despues cambiar a negro*/
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    margin-left: 50px;
    border-radius: 5%;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.navbar li:hover{
    transition: all 0.5s;
    background-color: #0066ffff;
    text-shadow: left 10px;
    color: black; /*despues cambiar a blanco*/
    transform: translateY(-8px);
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #2c2f33 0%, #3a4a68 50%, #0d1b2a 100%); /*fondo de color radiente*/
    position: relative; /*basicamente para que yo le pueda dar las medidas q quiera(top,left,right,bottom)*/
    display: grid; /*para que los div se dividan en dos columnas*/
    grid-template-columns: 1fr 1fr; /*para que se alineen de manera vertical*/
    align-items: center;
    gap:2rem /*para que entre las dos columnas haya espacio de 2rem*/
}

section{
    padding: 0 8%;
}
.hero-text h3{
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.hero-text h4{
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}


.hero-text h5{
    font-size: 15px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}

.hero-text p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    text-indent: 5px;
    text-transform: capitalize ;
    font-size: 25px;
    margin-bottom: 100px;
    line-height: 45px;
    letter-spacing: 2px;
}

.image-hero img{ 
    width: 500px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 2s linear;
}

.image-hero img:hover{
    width: 550px;
    opacity: 0.6;
}

.seccion-contacto{
    border: 2px solid white;
    background: linear-gradient(245.59deg, #2c2f33 0%, #3a4a68 50%, #0d1b2a 100%);

}
.contacto{
    background-color: solid white;
    display: flex;
    margin: 0;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.logo img{  
    border: 2px solid white;
    border-radius: 100px;
    padding: 2px;
    margin: 10% 0 0 10%;
    width: 60px;
    align-items: center;
    margin:0px 20px 0px 20px;
}

.acerca-de{
    display: grid;
    margin: 2px;
    color: white;
    background: linear-gradient(245.59deg, #2c2f33 0%, #3a4a68 50%, #0d1b2a 100%);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}
.acerca-de-titulo{
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: solid;
}
.acerca-de-titulo img{
    width: 450px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 2s linear;
    
}
.acerca-de-titulo img:hover{
    width: 500px;
    opacity: 0.6;
}

.explicacion{
    letter-spacing: 3px;
    text-align: justify;
    padding: 10px;
    line-height: 45px;
    text-indent: 10px;
}



